.btn-area {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
  position: relative;
}

.gradient-text {
  font-size: 32px;
  letter-spacing: 1px;
  background: linear-gradient(white 0%, white 40%, rgba(255,255,255,0.2) 80%);
  -webkit-background-clip: text;
  color: transparent;
  margin: 0;
  font-weight: 400;
}

.btn-container {
  padding: 18px 60px;
  cursor: pointer;
  border-radius: 100px;
  box-shadow: 
    0px 2px 9.2px -3px rgba(246, 246, 246, 0.15),
    inset 0px -20px 52.4px -40px rgba(139, 98, 255, 0.3),
    inset 0px 20px 52.4px -40px rgba(139, 98, 255, 0.1),
    inset 0px -1px 6px -2px #8B62FF;
  transition: box-shadow 0.3s linear;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.overlay {
  position: absolute;
  width: 269px;
  height: 114px;
  background: radial-gradient(83.33% 83.33% at 50% 50%, #DBBFFF 0%, #444444 90%);
  mix-blend-mode: color-dodge;
  filter: blur(20px);
  border-radius: 100px;
  pointer-events: none;
  transform: translate(-100%, -100%);
}